<p>
  I'm a recent graduate from a remote full-stack development program, Flatiron School's Learn Verified, and I'm actively seeking an opportunity where I can contribute my unique background and skills towards an awesome team, building products that'll positively impact the lives of others. Additionally, I'm a highly-motivated individual, who enjoys giving back to the community in the forms of: blogging, volunteering and mentoring. I'm the co-chapter leader for Girl Develop It San Diego, and I'm currently interning for Qualcomm.
</p>