<p>
  10)  <br><br>

  9) Your team will love me because I'm happy and easy to get along with.<br><br>

  8) I'm an achiever who takes my work personally. You can count on me to meet deadlines.<br><br>

  7) I care! I'm the chapter co-leader of Girl Develop It San Diego, a non profit organization that teaches women how to code. I'm always thinking about our members and the different ways we can help encourage them in the tech community. I also blog about my experiences to help inspire others interested in switching careers.<br><br>

  6) I am passionate! My passions include: programming, learning, diversity in tech, Youtube, and food... just to name a few.<br><br>

  5) I'm a quick learner and take initiative! For example, I taught myself everything I know about Youtube, which includes operating cameras, lighting, and editing with Final Cut Pro! My channel has the support of nearly 26,000 subscribers! When I set my mind to something, there is no stopping me. For another example, I didn't know Java at all before I started my internship at Qualcomm but was quickly able to learn and contribute to my team. But there's no need to toot my own  horn, the references on my LinkedIn profile say it all!<br><br>

  4) I'm a career changer! I know I know, that sounds scary when you are likely looking for a CS degree but trust me it's a good thing! This means that I'm not afraid to take a chance and be a beginner again. This also means that in the ever evolving tech world, learning new technologies wouldn't phase me. I'd be able to learn, adjust, and adapt not only quickly but enthusiastically! You won't just be hiring a developer, you'll be hiring a well-rounded individual with seven years worth of transferable hard and soft skills!<br><br>

  3) I'm punctual! I'm the type of person who HATES being late, so I show up way too early to everything! If not then something has gone horribly wrong. Please call my mom!<br><br>

  2) I'm creative! In addition to my artistic abilities, I love thinking outside the box when solving problems.<br><br>

  1) I can code! And I'm getting better at it every day! *toot toot* My technologies include: HTML, CSS, Bootstrap, JavaScript, JQuery, Ruby, Sinatra, Ruby on Rails, Java, Spring Tool Suite, Groovy, Grails, and more!<br><br>

  BONUS: I want to work with you, you lucky duck!
</p>